<br />
<% post.comments.forEach(function (comment, index) { %>
  <p><img src="<%= comment.head %>"  /> <a href="<%= '/u/'+ comment.name %>"><%= comment.name %> </a> 
   #<%= index+1 %> 回复于 <%= comment.commented_at %> </p> 
  <p>  <%- comment.content %> </p>
<% }) %>

<form method="post">
    <div class="col-md-10">
      <% if (user) { %>
          <textarea name="content" rows="5" class="form-control" placeholder="我想说.."></textarea>
          <button type="submit" class="btn btn-success pull-right">提交评论</button>
      <% } %>
    </div>
</form>